*.swp
*.swo
.DS_Store
data/*
!data/gis/.gitkeep
!data/addr/.gitkeep
!data/tiles/.gitkeep
!data/test-shapes
__pycache__/
*.pyc
*.o
*.so
.gitsecret/keys/random_seed
!*.secret
secrets/db_host.prod
secrets/db_name.prod
secrets/db_pass.prod
secrets/db_user.prod
secrets/node_env.prod
